<div class="p-4 bg-white rounded-lg border shadow-lg">
<div id="<%= dom_id article %>">
  <h2 class="text-xl">
  <strong><%= article.title %></strong>
  </h2>

  <p>
    <%= article.description %>
  </p>

</div>
</div>