.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.mx-16 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.list-style-none {
  list-style: none;
}

.text-decoration-none {
  text-decoration: none;
}

.gap-6 {
  gap: 1.5rem;
}
.p-4 {
  padding: 1rem;
}

.bg-white {
  background-color: #fff;
}

.border {
  border: 1px solid #e2e8f0;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.w-full {
    width: 100%;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bottom-shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.text-xl {
  font-size: 1.25rem;
}

.text-black {
  color: #000;
}

.search {
    width: 100%;
    position: relative;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: auto;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
  }

  .logo {
    color: #00B4CC;
    font-weight: 800;
    font-size: 1.5em;
  }

  .capitalize::first-letter {
    text-transform: capitalize;
  }